package repositories

import (
	"database/sql"
	"{{ .ProjectName }}/src/repositories/auth"
    {{ range .Entity }}{{ .EntityNameLowerCase }} "{{ .ProjectName }}/src/repositories/{{ .EntityNameSnakeCase }}"
    {{ end }}
)

type Repositories struct {
	Auth auth.Interface
	{{ range .Entity }}{{ .EntityName }} {{ .EntityNameLowerCase }}.Interface
    {{ end }}
}

type Param struct {
	Db *sql.DB
}

func Init(param Param) *Repositories {
	return &Repositories{
		Auth: auth.Init(),
		{{ range .Entity }}{{ .EntityName }}: {{ .EntityNameLowerCase }}.Init({{ .EntityNameLowerCase }}.Param{Db: param.Db, TableName: "{{ .EntityNameSnakeCasePlural }}"}),
        {{ end }}
	}
}
